@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/font/Muli-VariableFont:wght.ttf');
  /* IE9 Compat Modes */
  src: local('Muli'), local('Muli'), url('./assets/font/Muli-VariableFont:wght.ttf') format('truetype'), /* Safari, Android, iOS */
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}